<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to textutils. Enter your text below.</h1>

    <form action="/analyze/" method="post">

        <textarea name="text" style='width: 900px; margin: 0px; height: 100px;'>{{ request.POST.text }}</textarea><br>

        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="capitalize">Capitalize First Letter <br>
        <input type="checkbox" name="newlineremove">Remove New Lines <br>
        <input type="checkbox" name="spaceremove">Remove Extra Spaces <br>
        <input type="checkbox" name="charcount">Character Count <br>

        <button type="submit">Analyze text</button>
    </form>

    <h2>Result:</h2>
    <p>{{ result }}</p>

    <h3>Character Count:</h3>
    <p>{{ charcount }}</p>

</body>
</html>
