<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to textutils. Enter your text below.</h1>
    <form action='/rempunc' method='get'>
        <textarea  name="text"  style='width: 900px; margin: 0px;
         height: 100px;'></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <button>Analyze text</button>
    </form>
</body>
</html>
